# requirements.txt

# Основные зависимости
flask==2.2.3             # Обновите Flask до версии 2.2+
flask-sqlalchemy==3.0.3  # Совместим с Flask >=2.2
python-dotenv==0.19.0    # Управление переменными окружения
aiogram==3.0.0b7         # Библиотека для работы с Telegram
sqlalchemy==2.0.15       # ORM для работы с базой данных
aiohttp==3.8.4           # Для асинхронных HTTP-запросов
gunicorn==20.1.0         # Веб-сервер для продакшена
werkzeug==2.2.3          # Для инструментов разработки и отладки

# Дополнительные библиотеки
requests==2.28.1         # Для работы с внешними API
apscheduler==3.10.1      # Для планирования задач

# Для логирования
logging==0.5.1

# Для работы с Twilio (WhatsApp)
twilio==8.3.0
